executing==2.1.0
pexpect==4.9.0
absl-py==2.1.0
decorator==5.1.1
importlib_metadata==8.5.0
filelock==3.16.1
idna==3.10
traitlets==5.14.3
numpy==1.23.5
nest_asyncio==1.6.0
Markdown==3.7
python-dateutil==2.9.0
pip==24.3.1
ptyprocess==0.7.0
pillow==11.1.0
huggingface-hub==0.27.1
parso==0.8.4
pyglet==1.5.0
zipp==3.21.0
requests==2.32.3
pickleshare==0.7.5
stack-data==0.6.2
h5py==3.12.1
ipython==8.12.2
six==1.16.0
GitPython==3.1.44
networkx==3.4.2
protobuf==3.20.3
jupyter_client==8.6.3
asttokens==3.0.0
tqdm==4.67.1
urllib3==2.3.0
future==1.0.0
exceptiongroup==1.2.2
click==8.1.8
pyzmq==26.2.0
appnope==0.1.4
onnx==1.15.0
setuptools==65.5.0
Jinja2==3.1.5
grpcio==1.48.2
Werkzeug==3.1.3
psutil==6.1.1
jedi==0.19.1
jupyter_core==5.7.2
backcall==0.2.0
gym-notices==0.0.8
PettingZoo==1.15.0
fsspec==2024.12.0
gitdb==4.0.12
mpmath==1.3.0
torch==2.5.1
sentry-sdk==2.20.0
charset-normalizer==3.4.1
wcwidth==0.2.13
packaging==24.2
pydantic_core==2.27.2
imageio-ffmpeg==0.6.0
prompt_toolkit==3.0.48
wheel==0.45.1
comm==0.2.2
pure_eval==0.2.3
tornado==6.4.2
cloudpickle==3.1.1
tensorboard==2.18.0
PyVirtualDisplay==3.0
docker-pycreds==0.4.0
cattrs==1.5.0
sympy==1.13.1
typing_extensions==4.12.2
PyYAML==6.0.2
attrs==24.3.0
matplotlib-inline==0.1.7
smmap==5.0.2
tensorboard-data-server==0.7.2
platformdirs==4.3.6
ipykernel==6.29.5
setproctitle==1.3.4
annotated-types==0.7.0
certifi==2024.12.14
gym==0.22.0
debugpy==1.8.11
pydantic==2.10.5
Pygments==2.18.0
wandb==0.19.4
MarkupSafe==3.0.2
mlagents_envs==1.2.0.dev0
mlagents==1.2.0.dev0
